<a href="https://colab.research.google.com/github/41123222009/2024101471-Data_Mining-PreProcessing_Data/blob/main/Latihan%7CPreProcessing_Data%7CData_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Latihan Pre Processing Data | Data Mining**
Iksan Nur Afiah - 41123322009

In [59]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## **1. Memuat Data**
Langkah pertama adalah mengimport library yang akan digunakan untuk analisis data. Serta, memuat data dari file CSV ke dalam Data Frame.

In [60]:
import pandas as pd
import numpy as np

# Memuat data dari file CSV
df = pd.read_csv('drive/MyDrive/Staterkom/Semester 5/Data Mining/movie_sample_dataset.csv')

## **2. Memeriksa Data**
Menampilkan beberapa baris pertama dari dataset untuk memahami struktur data.

In [61]:
df

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Color,Steve McQueen,134,56667870.0,Biography|Drama|History,12 Years a Slave,2013,English,USA,20000000.0,8.1,"Quvenzhané Wallis,Scoot McNairy,Taran Killam",83000
95,Color,Richard J. Lewis,134,7501404.0,Comedy|Drama,Barney's Version,2010,English,Canada,NaN,7.3,"Mark Addy,Atom Egoyan,Paul Gross",0
96,Color,Paul Greengrass,134,107100855.0,Biography|Drama|Thriller,Captain Phillips,2013,English,USA,55000000.0,7.9,"Tom Hanks,Chris Mulkey,Michael Chernus",65000
97,Color,David Ayer,134,85707116.0,Action|Drama|War,Fury,2014,English,USA,68000000.0,7.6,"Brad Pitt,Logan Lerman,Jim Parrack",82000
98,Color,Clint Eastwood,5,47034272.0,Biography|Drama|Music|Musical,Jersey Boys,2014,English,USA,40000000.0,6.9,"Johnny Cannizzaro,Steve Schirripa,Scott Vance",16000

Memeriksa beberapa informasi umum tentang dataset yaitu:
* Tipe data

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 88 non-null     object
 1   director_name         88 non-null     object
 2   duration              99 non-null     int64
 3   gross                 91 non-null     float64
 4   genres                98 non-null     object
 5   movie_title           99 non-null     object
 6   title_year            99 non-null     int64
 7   language              99 non-null     object
 8   country               99 non-null     object
 9   budget                95 non-null     float64
 10  imdb_score            99 non-null     float64
 11  actors                99 non-null     object
 12  movie_facebook_likes  99 non-null     int64
dtypes: float64(3), int64(3), object(7)
memory usage: 10.2+ KB

* Nilai yang hilang

In [63]:
# Mengganti '?' dengan NaN
df.replace('?', np.nan, inplace=True)

# Memeriksa jumlah missing values di setiap kolom
print(df.isnull().sum())

color                   11
director_name           11
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

## **3. Membersihkan Data**

* Menghapus baris yang memiliki nilai NaN di kolom penting seperti gross dan budget.

In [64]:
# Menghapus baris dengan missing values pada kolom 'gross' dan 'budget'
df.dropna(subset=['gross', 'budget'], axis=0, inplace=True)

# Reset index setelah menghapus baris
df.reset_index(drop=True, inplace=True)

* Mengatasi nilai yang tidak konsisten atau kesalahan penulisan di kolom.

In [65]:
# Mengatasi kesalahan penulisan pada beberapa kolom
df.loc[:, 'color'] = df['color'].str.strip().str.capitalize()
df['director_name'] = df['director_name'].str.title()
df['movie_title'] = df['movie_title'].str.title()
df['language'] = df['language'].str.title()

# Mengatasi ketidak konsistenan penulisan pada beberapa kolom
df['country'] = df['country'].replace(['usa', 'United States'], 'USA')
df['title_year'] = df['title_year'].replace(205, 2005)

* Mengubah dan menghapus nilai-nilai yang tidak standar, seperti nilai negatif atau 'N/A't

In [66]:
# Memfilter DataFrame agar hanya menampilkan nilai yang lebih besar atau sama dengan 0
df = df[(df['duration'] >= 0) &
        (df['title_year'] >= 0) &
        (df['imdb_score'] >= 0) &
        (df['movie_facebook_likes'] >=0 )]

# Mengubah nilai yang tidak standar menjadi nilai kosong
df = df.replace(['N/A', 'Null', 'Nan'], np.nan)

# Menghapus baris dengan nilai kosong
df.dropna(axis=0, inplace=True)

# Reset index setelah menghapus baris
df.reset_index(drop=True, inplace=True)

## **4. Transformasi Data**
* Mengubah tipe data kolom menjadi tipe data yang sesuai

In [67]:
df[['gross', 'budget']] = df[['gross','budget']].astype(int)

* Menormalisasi teks untuk memastikan konsistensi

In [68]:
df['actors'] = df['actors'].str.replace(',', ', ', regex=False)
df['genres'] = df['genres'].str.replace('|', ', ', regex=False)

## **5. Penyimpanan data**
Menyimpan data yang telah diproses ke dalam file CSV baru

In [69]:
df.to_csv('drive/MyDrive/Staterkom/Semester 5/Data Mining/movie_dataset_cleaned.csv', index=False)