<a href="https://colab.research.google.com/github/41123222009/2024101471-Data_Mining-PreProcessing_Data/blob/main/Latihan%7CPreProcessing_Data%7CData_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Latihan Pre Processing Data | Data Mining**
Iksan Nur Afiah - 41123322009

## **1. Memuat Data**
Langkah pertama adalah mengimport library yang akan digunakan untuk analisis data. Serta, memuat data dari file CSV ke dalam Data Frame.

In [71]:
import pandas as pd
import numpy as np

# Memuat data dari file CSV
df = pd.read_csv('https://raw.githubusercontent.com/41123222009/2024101471-Data_Mining-PreProcessing_Data/refs/heads/main/movie_dataset_cleaned.csv')

## **2. Memeriksa Data**
Menampilkan beberapa baris pertama dari dataset untuk memahami struktur data.

In [72]:
df

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727,"Biography, Comedy, Crime, Drama",The Wolf Of Wall Street,2013,English,USA,100000000,8.2,"Leonardo DiCaprio, Matthew McConaughey, Jon Fa...",138000
1,Color,Shane Black,195,408992272,"Action, Adventure, Sci-Fi",Iron Man 3,2013,English,USA,200000000,7.2,"Robert Downey Jr., Jon Favreau, Don Cheadle",95000
2,Color,Quentin Tarantino,187,54116191,"Crime, Drama, Mystery, Thriller, Western",The Hateful Eight,2015,English,USA,44000000,7.9,"Craig Stark, Jennifer Jason Leigh, Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495,Drama,Margaret,2011,English,USA,14000000,6.5,"Matt Damon, Kieran Culkin, John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354,"Adventure, Fantasy",The Hobbit: The Desolation Of Smaug,2013,English,USA,225000000,7.9,"Aidan Turner, Adam Brown, James Nesbitt",83000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Color,Tony Gilroy,135,113165635,"Action, Adventure, Thriller",The Bourne Legacy,2012,English,USA,125000000,6.7,"Jeremy Renner, Scott Glenn, Stacy Keach",31000
61,Color,Steve Mcqueen,134,56667870,"Biography, Drama, History",12 Years A Slave,2013,English,USA,20000000,8.1,"Quvenzhané Wallis, Scoot McNairy, Taran Killam",83000
62,Color,Paul Greengrass,134,107100855,"Biography, Drama, Thriller",Captain Phillips,2013,English,USA,55000000,7.9,"Tom Hanks, Chris Mulkey, Michael Chernus",65000
63,Color,David Ayer,134,85707116,"Action, Drama, War",Fury,2014,English,USA,68000000,7.6,"Brad Pitt, Logan Lerman, Jim Parrack",82000
64,Color,Clint Eastwood,5,47034272,"Biography, Drama, Music, Musical",Jersey Boys,2014,English,USA,40000000,6.9,"Johnny Cannizzaro, Steve Schirripa, Scott Vance",16000

Memeriksa beberapa informasi umum tentang dataset yaitu:
* Tipe data

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 65 non-null     object
 1   director_name         65 non-null     object
 2   duration              65 non-null     int64
 3   gross                 65 non-null     int64
 4   genres                65 non-null     object
 5   movie_title           65 non-null     object
 6   title_year            65 non-null     int64
 7   language              65 non-null     object
 8   country               65 non-null     object
 9   budget                65 non-null     int64
 10  imdb_score            65 non-null     float64
 11  actors                65 non-null     object
 12  movie_facebook_likes  65 non-null     int64
dtypes: float64(1), int64(5), object(7)
memory usage: 6.7+ KB

* Nilai yang hilang

In [74]:
# Mengganti '?' dengan NaN
df.replace('?', np.nan, inplace=True)

# Memeriksa jumlah missing values di setiap kolom
print(df.isnull().sum())

color                   0
director_name           0
duration                0
gross                   0
genres                  0
movie_title             0
title_year              0
language                0
country                 0
budget                  0
imdb_score              0
actors                  0
movie_facebook_likes    0
dtype: int64

## **3. Membersihkan Data**

* Menghapus baris yang memiliki nilai NaN di kolom penting seperti gross dan budget.

In [75]:
# Menghapus baris dengan missing values pada kolom 'gross' dan 'budget'
df.dropna(subset=['gross', 'budget'], axis=0, inplace=True)

# Reset index setelah menghapus baris
df.reset_index(drop=True, inplace=True)

* Mengatasi nilai yang tidak konsisten atau kesalahan penulisan di kolom.

In [76]:
# Mengatasi kesalahan penulisan pada beberapa kolom
df.loc[:, 'color'] = df['color'].str.strip().str.capitalize()
df['director_name'] = df['director_name'].str.title()
df['movie_title'] = df['movie_title'].str.title()
df['language'] = df['language'].str.title()

# Mengatasi ketidak konsistenan penulisan pada beberapa kolom
df['country'] = df['country'].replace(['usa', 'United States'], 'USA')
df['title_year'] = df['title_year'].replace(205, 2005)

* Mengubah dan menghapus nilai-nilai yang tidak standar, seperti nilai negatif atau 'N/A't

In [77]:
# Memfilter DataFrame agar hanya menampilkan nilai yang lebih besar atau sama dengan 0
df = df[(df['duration'] >= 0) &
        (df['title_year'] >= 0) &
        (df['imdb_score'] >= 0) &
        (df['movie_facebook_likes'] >=0 )]

# Mengubah nilai yang tidak standar menjadi nilai kosong
df = df.replace(['N/A', 'Null', 'Nan'], np.nan)

# Menghapus baris dengan nilai kosong
df.dropna(axis=0, inplace=True)

# Reset index setelah menghapus baris
df.reset_index(drop=True, inplace=True)

## **4. Transformasi Data**
* Mengubah tipe data kolom menjadi tipe data yang sesuai

In [78]:
df[['gross', 'budget']] = df[['gross','budget']].astype(int)

* Menormalisasi teks untuk memastikan konsistensi

In [79]:
df['actors'] = df['actors'].str.replace(',', ', ', regex=False)
df['genres'] = df['genres'].str.replace('|', ', ', regex=False)

## **5. Penyimpanan data**
Menyimpan data yang telah diproses ke dalam file CSV baru

In [80]:
df.to_csv('movie_dataset_cleaned.csv', index=False)